@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-step--2 {
    @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl;
    font-size: clamp(0.69rem, calc(0.6rem + 0.46vw), 0.96rem);
  }

  .text-step--1 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
    font-size: clamp(0.83rem, calc(0.71rem + 0.64vw), 1.2rem);
  }

  .text-step-0 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
    font-size: clamp(1rem, calc(0.83rem + 0.87vw), 1.1rem);
  }

  .text-step-1 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    font-size: clamp(1.2rem, calc(0.97rem + 1.17vw), 1.48rem);
  }

  .text-step-2 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
    font-size: clamp(1.44rem, calc(1.13rem + 1.57vw), 2.34rem);
  }

  .text-step-3 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
    font-size: clamp(1.73rem, calc(1.31rem + 2.09vw), 2.93rem);
  }

  .text-step-4 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
    font-size: clamp(2.07rem, calc(1.52rem + 2.76vw), 3.66rem);
  }

  .text-step-5 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
    font-size: clamp(2.49rem, calc(1.76rem + 3.63vw), 4.58rem);
  }

  .text-step-6 {
    @apply text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
    font-size: clamp(2.99rem, calc(2.03rem + 4.76vw), 5.72rem);
  }

  .text-step-7 {
    @apply text-6xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-10xl;
    font-size: clamp(3.58rem, calc(2.34rem + 6.21vw), 7.15rem);
  }

  .text-step-8 {
    @apply text-7xl sm:text-8xl md:text-9xl lg:text-10xl xl:text-11xl;
    font-size: clamp(4.3rem, calc(2.69rem + 8.07vw), 8.94rem);
  }

  .text-step-9 {
    @apply text-8xl sm:text-9xl md:text-10xl lg:text-11xl xl:text-12xl;
    font-size: clamp(5.16rem, calc(3.07rem + 10.46vw), 11.18rem);
  }

  .text-step-10 {
    @apply text-9xl sm:text-10xl md:text-11xl lg:text-12xl xl:text-13xl;
    font-size: clamp(6.19rem, calc(3.49rem + 13.53vw), 13.97rem);
  }
}

body.disable-scroll {
  overflow: hidden;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 1024px) {
  .move-in {
    transform: translateX(100vw);
  }
  .move-out {
    transform: translateX(0);
  }
}
.ant-toast .ant-notification-notice-description {
  font-size: 14px !important;
}
.ant-toast .ant-notification-notice-close {
  top: 10px !important;
  inset-inline-end: 10px !important;
}
.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.3s;
}

.toggle-label {
  position: relative;
}

.toggle-label:before {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  display: block;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" strokeWidth="6" strokeLinecap="round" strokeLinejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.5rem);
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" strokeWidth="6" strokeLinecap="round" strokeLinejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

.toggle.slim .toggle-label:before {
  top: -0.15rem;
  left: 0;
}

.toggle.slim .toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.75rem);
}

.toggle.colour .toggle-label {
  background-color: gray;
}

.toggle.colour .toggle-checkbox:checked + .toggle-label {
  background-color: #9ae6b4;
}
